USE [master]
GO
/****** Object:  Database [Kelime_Ezberleme]    Script Date: 20.05.2026 14:59:52 ******/
CREATE DATABASE [Kelime_Ezberleme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kelime_Ezberleme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Kelime_Ezberleme.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kelime_Ezberleme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Kelime_Ezberleme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kelime_Ezberleme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kelime_Ezberleme]
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 20.05.2026 14:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[WordID] [int] NOT NULL,
	[CorrectCount] [int] NULL,
	[LastShownDate] [date] NULL,
	[NextReviewDate] [date] NULL,
	[IsLearned] [bit] NULL,
	[WrongAnswerCount] [int] NOT NULL,
 CONSTRAINT [PK__UserProg__BAE29C8569B896A0] PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.05.2026 14:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordChainStories]    Script Date: 20.05.2026 14:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordChainStories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[WordsUsed] [nvarchar](255) NULL,
	[StoryText] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 20.05.2026 14:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[EngWordName] [nvarchar](255) NULL,
	[TurWordName] [nvarchar](255) NULL,
	[Picture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordSamples]    Script Date: 20.05.2026 14:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordSamples](
	[WordSamplesID] [int] IDENTITY(1,1) NOT NULL,
	[WordID] [int] NULL,
	[Samples] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[WordSamplesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProgress] ON 

INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [WordID], [CorrectCount], [LastShownDate], [NextReviewDate], [IsLearned], [WrongAnswerCount]) VALUES (1265, 1, 49, 6, CAST(N'2026-05-18' AS Date), CAST(N'2026-05-18' AS Date), 1, 0)
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [WordID], [CorrectCount], [LastShownDate], [NextReviewDate], [IsLearned], [WrongAnswerCount]) VALUES (1266, 1, 73, 6, CAST(N'2026-05-18' AS Date), CAST(N'2026-05-18' AS Date), 1, 0)
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [WordID], [CorrectCount], [LastShownDate], [NextReviewDate], [IsLearned], [WrongAnswerCount]) VALUES (1267, 1, 121, 6, CAST(N'2026-05-18' AS Date), CAST(N'2026-05-18' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[UserProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password]) VALUES (1, N'selen', N'123')
INSERT [dbo].[Users] ([UserID], [UserName], [Password]) VALUES (2, N'kelime_avcisi', N'123')
INSERT [dbo].[Users] ([UserID], [UserName], [Password]) VALUES (3, N'SELEN', N'selen123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WordChainStories] ON 

INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (1, 1, N'forest, love, blood, mountain', N'Harika bir meydan okuma! İşte kelimeleri anlamlı, yaratıcı ve sürükleyici bir şekilde kullandığım bir hikaye:

---

**Sonsuz Fısıltılar Diyarı**

Kaderin, zamandan önce yazıldığına inanılan topraklarda, kadim bir **forest** yatıyordu. Adı Ebedi Fısıltılar Ormanı’ydı. Ağaçları gökyüzüne değecek kadar uzun, kökleri yeryüzünün derinliklerine uzanan, sayısız sırrı barındıran bu **forest**, Bilge Elara’nın eviydi. Elara, ormanın ruhuyla konuşabilen, bitkilerin dilini çözen, şifalı otlarla mucizeler yaratan narin ama güçlü bir genç kadındı.

Forest''ın ötesinde, bulutlara komşu, yüce ve aşılmaz bir **mountain** yükseliyordu. Kartal Pençesi Dağı diye anılan bu **mountain**, Savaşçı Kaan’ın yurduydu. Kaan, dağ rüzgarlarıyla yoğrulmuş, çelik gibi iradeli, avcı gözleriyle en keskin yırtıcıları bile kıskandıracak cesur bir gençti. Kaan''ın kabilesi, orman halkıyla asırlardır süren bir rekabet içindeydi; aralarına kalın, görünmez bir duvar örülmüştü.

Ancak kaderin ağları örülmeye başladığında, hiçbir duvar dayanıklı kalamazdı. Bir dolunay gecesi, Kaan’ın kabilesinden bir genç, ormanın derinliklerinde kayboldu. Adetler gereği, yardım istemek yasaktı. Ama Kaan, vicdanının sesini dinleyerek, yasaklı **forest**’ın eşiğine geldi. Orada onu Elara karşıladı; ay ışığının altında gümüş rengi parlayan saçları ve ürkek bir ceylanınki gibi derin gözleriyle.

İlk bakışta aralarında bir kıvılcım çaktı. Genci bulmak için birlikte ormanın derinliklerine daldıklarında, yasaklara inat filizlenen bir **love** başladı. Elara’nın orman bilgisi ve Kaan’ın iz sürme yeteneği, kayıp genci kurtardı. Ama bu kısa süreli işbirliği, aralarında yeşeren o güçlü **love** tohumunu toprağa ekmişti bile. Gizlice buluşmaya başladılar. Ebedi Fısıltılar **forest**’ının en kuytu köşeleri, Kartal Pençesi **mountain**’ının en sarp yamaçları, onların aşklarına tanıklık etti.

Fakat her güzel hikayenin bir gölgesi vardı. Köylerde dolaşan fısıltılar, kabile büyüklerinin kulağına ulaştı. Kaan ve Elara’nın **love**''ı, iki kabile arasındaki kadim nefreti yeniden alevlendirdi. Bir savaş kaçınılmaz görünüyordu. İki kabile, forest''ın girişinde, mountain''ın eteğinde karşı karşıya geldi. Silahlar çekildi, nefret dolu bakışlar havada uçuştu.

Tam o sırada, gölgelerden dehşet verici bir yaratık çıktı. Forest''ın derinliklerinde uyuyan, hem orman hem de dağ halkının efsanelerinde adı geçen Gölge Canavarı’ydı bu. Yaratık, iki kabilenin kavgasının yarattığı nefreti koklayarak uyanmış, tüm barışı tehdit etmek için gelmişti. Kabileler şaşkınlık içinde canavara bakarken, Kaan ve Elara öne atıldı. Onların **love**''ı, şimdi sadece kendileri için değil, tüm halkları için bir umut ışığı olacaktı.

Kaan, canavara cesurca saldırdı, dağların tüm gücünü yumruklarına sığdırarak. Elara ise ormanın mistik enerjisini kullanarak yaratığı zayıflatmaya çalıştı. Ancak canavarın pençesi Kaan''a ulaştığında, genç savaşçının göğsünden sıcak bir **blood** fışkırdı. Kaan, yere yığılırken, Elara’nın çığlığı forest''ı yankılandı.

Ama bu **blood**, bir son değil, bir başlangıçtı. Elara, düşen sevgilisinin yanına koştu, yarasını elleriyle sardı. Gözyaşları, Kaan''ın akan kanıyla karışıp toprağa damladı. İşte o an, forest''ın kalbi ve mountain''ın ruhu birleşti. Elara’nın şifalı gücüyle Kaan’ın dağlardan gelen dayanıklılığı birleşti. Kaan, son gücüyle kalktı, Elara ile el ele vererek canavara saldırdılar. Onların birleşen enerjisi, aşklarının saflığı, Gölge Canavarı’nı en derin karanlığına geri itti.

Canavar yok olduğunda, iki kabile sessizdi. Kaan’ın toprağa dökülen **blood**''u ve Elara’nın döktüğü gözyaşları, kavgayı değil, birliği mühürlemişti. O gün, Ebedi Fısıltılar **forest**''ı ve Kartal Pençesi **mountain**''ı birleşti. Kaan ve Elara’nın **love**''ı, iki halkı bir araya getiren bir köprü oldu. Onların hikayesi, nesiller boyu anlatıldı; nefretin değil, aşkın ve fedakarlığın gücünü gösteren ölümsüz bir destan olarak. Artık o topraklarda, **forest**''ın fısıltıları ve **mountain**''ın yankıları, hep bir arada, aynı **love** şarkısını söylüyordu.

---', N'https://image.pollinations.ai/prompt/digital_art_illustration_of_a_story_with_forest,love,blood,mountain_mystical_fantasy_atmosphere?width=512&height=512&nologo=true', CAST(N'2026-05-18T00:15:13.330' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (2, 1, N'forest, tree, egg, glass, selen', N'Harika bir fikir! İşte o kelimeleri kullanarak yazdığım masalsı hikaye:

**Ay Işığı ve Sihirli Forest**

Çok uzak diyarlarda, sisler içindeki eski bir krallıkta, gölgelerin dans ettiği, devasa ve ulu bir **forest** vardı. Bu **forest**''ın derinliklerinde, yüzlerce yıldır kimsenin dokunmaya cesaret edemediği, efsanelere konu olmuş bir sır yatıyordu. Krallığın genç ve cesur prensesi Elara, bu sırrın peşindeydi; zira krallığın ışığı sönmekte, nehirler kurumaktaydı.

Bir gece, yaşlı bir bilgenin fısıltılarını takip ederek Elara, **forest**''ın en karanlık kalbine ulaştı. Orada, gökyüzüne uzanan, dalları gümüşi bir ışıltıyla parlayan, yaşı belirsiz, görkemli bir **tree** duruyordu. Bu, "Hayat Tree''si" olarak bilinen efsanevi ağaçtı. Tree''nin köklerinde, narin, ışık saçan, adeta camdan yapılma gibi duran bir **egg** vardı. Egg o kadar güzeldi ki, Elara ona bakmaya doyamıyordu. Ancak egg''in üzerinde ince çatlaklar vardı ve sanki içerisindeki yaşam enerjisi azalıyordu.

Bilge, Elara''ya dönerek fısıldadı: "Bu **egg**, krallığımızın kaybolan ışığı **Selen**''in, yani Ay''ın ruhunu barındırıyor. Onu uyandırmak için, saflığı ve yansıtıcılığıyla bilinen özel bir **glass** parçasına ihtiyacımız var. Sadece o, **Selen**''in ışığını egg''e odaklayabilir ve onu yeniden canlandırabilir."

Elara, büyükannesinden kalma, boynunda taşıdığı, avuç içi büyüklüğünde, berrak bir **glass** parçasını hatırladı. Bu, en saf dağ kristalinden yapılmış, yıllardır bir tılsım olarak taşıdığı bir parçaydı. Hemen glass''ı çıkardı. Tam o sırada, bulutların arasından dolunayın gümüşi ışığı **forest**''ın üzerine süzülmeye başladı. Bu, **Selen**''in ta kendisiydi.

Elara, glass parçasını narinçe tuttu ve dolunayın **Selen** ışığını dikkatlice **egg**''in üzerine düşürdü. Işık, glass''tan geçerek egg''in çatlaklarına nüfuz etti. Bir anda **egg** çatladı ve içerisinden saf, parlak bir ışık demeti yükseldi. Bu ışık, tüm **forest**''ı aydınlattı, solan yapraklar yeniden yeşerdi, kuruyan nehirler coşkuyla akmaya başladı. Bu, artık yeni doğan **Selen**''in dünyayı saran parıltısıydı.

Krallık yeniden canlandı. Elara, **Selen**''in ışığıyla dolu egg''in mucizesini ve **glass** parçasının gücünü asla unutmadı. Ve o günden sonra, **forest**''ın kalbindeki o **tree**, sonsuza dek krallığın umut ve yaşam kaynağı olarak parladı.', N'https://image.pollinations.ai/prompt/digital_art_illustration_of_a_story_with_forest,tree,egg,glass,selen_mystical_fantasy_atmosphere?width=512&height=512&nologo=true', CAST(N'2026-05-18T00:32:51.340' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (3, 1, N'look, key, year, read, data', N'Harika bir fikir! İşte o beş İngilizce kelimeyi kullanarak yazdığım masalsı Türkçe hikaye:

**Fısıldayan Kelimelerin Krallığı**

Çok eski zamanlarda, Fısıldayan Kelimeler Krallığı adında, büyülü nehirleri ve ışıldayan ormanları olan bir diyar varmış. Ancak zamanla, krallığın büyüsü solmaya, nehirleri kurumaya başlamış. İnsanlar umutsuzluğa düşmüşken, genç ve cesur bir kaşif olan Elara, kadim bir kehanetin peşine düşmüş. Kehanet, krallığı kurtaracak sırrın "Zincirleme Kelimeler" adı verilen beş kutsal nesnede saklı olduğunu fısıldıyormuş.

Elara''nın ilk durağı, Sisli Dağlar''ın tepesindeki Bilgeler Kulesi oldu. Oradaki yaşlı kahin, Elara''ya kristal bir küre uzattı. "Bu küre, sana görünmeyeni gösterecek. Ona **Look** deyin," dedi kahin, derin bir sesle. "O, sana ilk anahtarı bulmanda yol gösterecek." Elara, Look''u eline aldığında, küre hafifçe titredi ve yeşil, eflatun ışıklar saçarak onu unutulmuş bir ormana doğru yönlendirdi.

Look''un rehberliğinde Elara, ormanın en derinliklerinde, sarmaşıklarla kaplı kadim bir tapınağa ulaştı. Tapınağın kalbinde, parıldayan yedi mücevherle bezenmiş, paslı bir sandık duruyordu. Ve sandığın kilidinde, altın rengi, zarif bir anahtar yuvası vardı. Elara, cebinden çıkardığı kadife kesenin içinden küçük, gümüş bir anahtar uzattı. Bu, büyükannesinden kalma, hep yanında taşıdığı bir tılsımdı. Anahtar, yuvaya tam oturdu ve tık sesini takiben sandık usulca açıldı. İçinden, üzeri el yazılarıyla dolu kalın bir parşömen çıktı. "İşte ilk Zincirleme Kelime," diye fısıldadı Elara, elindeki gümüş anahtara bakarak. "Sen benim **Key**''imsin."

Parşömen, krallığın kaderinin, binlerce **Year** önce yazılmış bir kehanete bağlı olduğunu açıklıyordu. Bu Year, sadece bir zaman dilimi değil, aynı zamanda geçmişin tüm anılarını ve gelecekten gelen ipuçlarını barındıran devasa, yaşayan bir kütüphaneydi. Year, Kayıp Bilgiler Vadisi''nde, Zaman Ağaçları''nın gölgesinde gizleniyordu. Elara, Key''i ve Look''u yanına alarak Year''a doğru yola çıktı.

Year''ın girişinde, cüsseli ve bilge görünüşlü, gözlüklü bir adam oturuyordu. Yüzü bilgiyle yoğrulmuştu, elleri ise eski kitapların sayfalarını çevirmekten nasırlaşmıştı. Elara''ya dönerek, "Ben, zamanın tüm sırlarını okuyan **Read**," dedi. "Buraya neden geldiğini biliyorum. Ancak Year''ın kapılarını açmak için bir sınavdan geçmelisin. Bana, krallığın en büyük hatasını söyle." Elara, Look''un fısıltılarını dinleyerek ve Key''in ona verdiği cesaretle, krallığın bilgiye sırt çevirmesini ve kadim ritüelleri unutmasını anlattı. Read gülümsedi ve Year''ın devasa kapılarını araladı.

İçeride, Elara''yı binlerce kitap, parşömen ve ışıldayan kristal levha karşıladı. Read, Elara''yı Year''ın en gizli bölmesine götürdü. Burada, ışıkla dans eden küçük parçacıklar, havada süzülüyordu. "Bunlar," diye açıkladı Read, "krallığın kayıp büyüsünü yeniden uyandıracak olan kadim formüllerin ve ritüellerin ta kendisi. Bunlara **Data** diyoruz." Elara, Read''in yardımıyla bu Data''yı özel bir parşömene kopyaladı.

Elara, Look''un rehberliğinde, Key''in açtığı yollarla, Year''ın bilgeliklerini Read''in açıklamalarıyla ve Data''nın gücüyle Fısıldayan Kelimeler Krallığı''na geri döndü. Kadim ritüelleri uyguladı. Gözlerinin önünde, krallık yeniden canlandı: kurumuş nehirler coştu, ormanlar en parlak yeşiline büründü ve sihirli fısıltılar rüzgarla yeniden dans etmeye başladı.

Look, Key, Year, Read ve Data... Bu beş kelime, Elara''nın sadece bir macerası değil, aynı zamanda krallığın yeniden doğuşunun sembolü olmuştu. Ve böylece, Fısıldayan Kelimeler Krallığı, bilginin, cesaretin ve umudun asla kaybolmadığını hatırlayarak sonsuza dek mutlu yaşadı.', N'https://image.pollinations.ai/prompt/digital_art_illustration_of_a_story_with_look,key,year,read,data_mystical_fantasy_atmosphere?width=512&height=512&nologo=true', CAST(N'2026-05-18T00:36:37.413' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (4, 1, N'apple, elephant, tea, ant, table', N'Harika bir meydan okuma! İşte o beş İngilizce kelimeyi kullanarak kaleme aldığım masalsı hikaye:

**Elara ve Fısıldayan Orman''ın Sırrı**

Uzak diyarlarda, zamanın ve masalların birbirine karıştığı bir vadide, Fısıldayan Orman adında esrarengiz bir yer vardı. Bu orman, sadece çok cesur ruhların girmeye cüret ettiği, kadim sırlarla dolu bir yerdi. Bir gün, köyün en meraklı genç kızı Elara, büyükannesinden dinlediği efsanelerin peşinden, ormanın derinliklerine doğru yola çıktı. Efsane diyordu ki: "İlk ve son harflerle birbirine bağlanan beş bilgelik anahtarı, kayıp şarkının yolunu gösterir."

Elara, sık yaprakların arasından ilerlerken, patikanın kenarında, gecenin zifiri karanlığını aydınlatan, narin bir ışık yayan parlak bir nesne fark etti. Eğilip baktığında, bunun daha önce hiç görmediği türden, kabuğu pürüzsüz ve kadifemsi, hafifçe parlayan bir **apple** olduğunu anladı. Elara, bu elmanın sıradan olmadığını hissetti. Elmanın hafifçe titreşen ışığı, sanki ona bir yol gösterircesine, belirli bir yöne doğru işaret ediyordu. Elara, elmayı avucunda tutarak, ışığın peşinden gitti.

Işık onu, ağaçların birden seyreldiği, ortasında devasa, taşlaşmış gibi duran ama gözlerinde yaşlı bir bilgelik parlayan bir heykelin bulunduğu geniş bir açıklığa götürdü. Bu, tüm ormanın bilgeliğini sırtında taşıdığına inanılan, kadim bir **elephant** heykeliydi. Elara yaklaştığında, heykelin gözlerinden hafif bir parıltı yayılıp havada şekillendi ve kulağına fısıldadı: "İlk anahtar, ışıkla uyanan sırrı gösterir. İkinciyi arayan, ruhların içtiği sudan bulur." Elara, elmanın ''e'' harfiyle bitip, elephant''ın ''e'' harfiyle başladığını fark edince kalbi hızla çarptı.

**Elephant**''ın fısıltısı, Elara''yı ormanın daha da eski, kimsenin uğramadığı bir köşesine sürükledi. Burada, taşların arasından sızan berrak bir su kaynağının başında, yosun tutmuş, küçük bir fincan duruyordu. Fincanın içinde, havaya hoş bir koku yayan, kurumuş bitkilerden oluşan bir karışım vardı. Büyükannesinin anlattığı "ruhlara fısıldayan içecek" olmalıydı bu. Elara, fincanı alıp kaynağın suyuyla doldurdu ve karışıma dokunan su, anında koyu bir renk alarak buharlar çıkarmaya başladı. Bu, Fısıldayan Orman''ın büyülü **tea**''siydi. Elara, derin bir nefes alarak çayı yavaşça yudumladı. Çay boğazından aşağı akarken, etrafındaki her ses, her hışırtı birer anlam kazanmaya başladı. Sanki tüm orman onunla konuşuyordu.

Çayın bahşettiği bu yeni duyularla, Elara toprağın altından gelen minik bir fısıltıyı duydu. Ses, bir tür yönlendirme gibiydi. Gözlerini yere indirdiğinde, bir patikanın kenarında, telaşla ilerleyen küçük bir **ant** gördü. Ama bu sıradan bir karınca değildi; sırtında, ufacık bacaklarıyla taşıdığı, neredeyse kendi boyunda, üzerine tuhaf semboller kazınmış minik bir taş parçası vardı. Elara, çayın etkisiyle karıncanın ne yapmaya çalıştığını anlayabiliyordu. Karınca, sanki bir mesaj taşıyormuş gibi, belirli bir yöne doğru ilerliyordu. Elara, adeta hipnotize olmuşçasına, karıncanın peşinden gitti.

Küçük **ant**, Elara''yı ormanın kalbinde, sarmaşıkların büründüğü gizli bir mağaranın girişine götürdü. İçeri girdiğinde, mağaranın ortasında, tek bir ışık huzmesiyle aydınlanan, üzeri kadim sembollerle işlenmiş, ceviz ağacından oyulmuş görkemli bir **table** duruyordu. Karınca, taşıdığı minik taşı masanın üzerindeki boş bir oyuğa bıraktı. Taş yerine oturduğunda, masanın üzerindeki semboller parlamaya başladı ve havada binlerce yıldır unutulmuş, berrak bir melodi yankılandı. Bu, Fısıldayan Orman''ın kayıp şarkısıydı; tüm canlıların yüreklerine umut ve neşe aşılayan, Elara''nın aradığı bilgelik.

Elara, **apple**''ın yol göstericiliğiyle başlayan, **elephant**''ın tavsiyesi üzerine doğru yola çıkan, büyülü **tea**''nın bahşettiği yeni anlayışla yolu bulan, cesur bir **ant**''ın peşinden giderek son durağa ulaştığı o esrarengiz **table**''da, sadece bir şarkı değil, aynı zamanda hayatın döngüsü içinde her küçük varlığın bile ne kadar büyük bir sırrı barındırabileceğini anlamıştı. O günden sonra Elara, Fısıldayan Orman''ın ve onunla konuşan beş bilgelik anahtarının efsanesini tüm dünyaya yaydı, unutturulan şarkıyı yeniden canlandırdı.', N'https://image.pollinations.ai/prompt/digital_art_illustration_of_a_story_with_apple,elephant,tea,ant,table_mystical_fantasy_atmosphere?width=512&height=512&nologo=true', CAST(N'2026-05-18T00:39:40.963' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (5, 1, N'tea, apple, egg, gorilla, ant', N'Harika bir meydan okuma! İşte o beş İngilizce kelimeyi kullanarak kaleme aldığım masalsı hikaye:

**Kaderin İzindeki Elara**

Çok uzak diyarlarda, sihirli fısıltıların ve kadim sırların gizlendiği Yedi Gölgeli Orman’ın derinliklerinde, cesur yürekli genç bir kız yaşarmış: Elara. Elara''nın kalbi, efsanelerdeki "Ebedi Bilgelik Pınarı"nı bulma arzusuyla atarmış. Bu pınarın, dünyanın tüm sırlarını açığa çıkardığına inanılırmış. Bir gün, büyükannesi ona yıpranmış bir parşömen vermiş. Parşömen, pınara giden yolun beş kadim işaretle belirlendiğini yazıyormuş.

İlk işaret, "Sabahın ilk ışıklarıyla toplanmış, kalbi arındıran bir **TEA**" idi. Elara, parşömenin gösterdiği gizli bir bahçeye doğru yola koyuldu. Uzun ve yorucu bir yolculuğun ardından, zümrüt yeşili yaprakların ve mor çiçeklerin arasında, zarif bir kristal kupanın içinde buğusu tüten bir TEA buldu. Büyük bir saygıyla TEA''yi yudumladığında, zihni berraklaştı ve kalbi ilhamla doldu. TEA ona bir sonraki ipucunu gösterdi: "En yüksek dağın eteğinde, ay ışığıyla parlayan Altın **APPLE**."

TEA''nin verdiği taze güçle Elara, Ay Dağı''na tırmanmaya başladı. Zorlu patikaları, sivri kayalıkları aştı ve sonunda, bir şelalenin gizli oyuğunda, gerçekten de ay ışığıyla yıkanmış, parıldayan bir Altın APPLE buldu. Apple''ı eline aldığında, bedenine sıcak bir enerji yayıldı. Bu, sadece bir meyve değil, cesaret ve içsel gücün ta kendisiydi. APPLE fısıltılarla konuştu: "Sana yol gösterecek olan, Kadim Nehir''in saklı mağarasındaki Parlayan **EGG**''dir."

Elara, APPLE''ın rehberliğinde Kadim Nehir''i takip etti. Nehir, sarp kayalıkların altından geçerek sisli bir mağaraya akıyordu. Mağaranın derinliklerinde, soğuk ve nemli havaya rağmen, göz kamaştırıcı bir ışık saçan dev bir EGG buldu. EGG''in etrafında dans eden ışık hüzmeleri, büyülü bir melodi gibi Elara''nın ruhunu okşuyordu. EGG''i nazikçe kucakladı ve içindeki yaşam enerjisinin kendi benliğine aktığını hissetti. EGG''den yayılan ışık, ona bir sonraki durağı gösterdi: "Ormanın kalbindeki en yaşlı Ulu **GORILLA**''nın mekânı."

Işığın peşinden giden Elara, Yedi Gölgeli Orman''ın en derin, en mistik kısmına ulaştı. Orada, asırlık ağaçların çevrelediği devasa bir kayanın üzerinde, bilge gözleriyle etrafı süzen ulu bir GORILLA oturuyordu. GORILLA, Elara''yı görür görmez gür sesiyle konuştu: "Genç yolcu, buraya gelebilmek için çok şey başardın. Ama son bilgelik, sabır ve alçakgönüllülük ister. En küçüğün rehberliğini ara." GORILLA, pençesiyle ayaklarının dibindeki toprağı işaret etti.

Elara şaşkınlıkla yere baktı. GORILLA''nın işaret ettiği yerde, küçük ama kararlı adımlarla ilerleyen bir **ANT** vardı. Bu ANT, diğerlerinden farklıydı; sırtında pırıltılı bir kum tanesi taşıyordu ve sanki belli bir amacı varmış gibi dosdoğru ilerliyordu. Elara, GORILLA''ya minnettarlığını sunarak, sabırla ANT''i takip etmeye başladı. ANT, onu çalılıkların, köklerin ve küçük derelerin içinden geçirerek, nihayet küçük bir açıklığa getirdi. Bu açıklıkta ne göz kamaştıran bir pınar, ne de parıldayan bir ışık vardı. Sadece huzur veren, yemyeşil bir çimenlikti.

Elara durup etrafına bakındığında anladı: Ebedi Bilgelik Pınarı, aradığı tüm o sihirli objeler değildi. TEA ona netlik vermişti, APPLE cesaret, EGG yaşam gücü, GORILLA bilgelik ve ANT de sabır ile alçakgönüllülük öğretmişti. Asıl pınar, bu yolculukta kendi içinde keşfettiği güç ve her bir kelimenin ona öğrettiği derslerdi. O an, Elara''nın kalbinde gerçek bilgelik filizlendi. Yedi Gölgeli Orman''dan artık farklı bir Elara dönüyordu; kalbi huzur, ruhu bilgelikle dolu. Ve böylece, "TEA, APPLE, EGG, GORILLA, ANT" kelimeleri, Elara''nın efsanevi yolculuğunun ebedi hatıraları olarak kaldı.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20tea%2Capple%2Cegg%2Cgorilla%2Cant?width=512&height=512&nologo=true', CAST(N'2026-05-18T00:46:52.647' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (6, 1, N'tea, apple, egg, gorilla, ant', N'Harika bir fikir! İşte o beş İngilizce kelimeyi (tea, apple, egg, gorilla, ant) kullanarak yazdığım masalsı Türkçe hikaye:

**Unutulmuş Orman''ın Fısıltısı**

Uzak diyarların birinde, yemyeşil vadilerin derinliklerinde, Unutulmuş Orman diye anılan bir yer vardı. Bu orman, sadece yaşlı ağaçları ve şelaleleriyle değil, aynı zamanda içinde sakladığı kadim sırlar ve fısıltılarla da ünlüydü. Unutulmuş Orman''ın eteğinde, meraklı kalbi ve hayalperest ruhuyla Elara adında genç bir kız yaşarmış.

Bir gün, Elara ormanda dolaşırken, gözüne daha önce hiç görmediği kadar canlı, pırıl pırıl parlayan bir meyve takıldı. Bu, diğerlerinden farklı, sanki kendi ışığını saçan sihirli bir **Apple**''dı. Elara, *Apple*''ı eline aldığında, garip bir sıcaklık hissetti ve *Apple* hafifçe titreyerek onu daha derinlere doğru yönlendirdi.

*Apple*''ın rehberliğinde Elara, ormanın kalbindeki gizli bir tapınağa ulaştı. Tapınağın ortasında, kadim taşlarla çevrili bir platformun üzerinde, pürüzsüz yüzeyinde yıldız desenleri olan devasa bir **Egg** duruyordu. *Egg*, öyle büyüktü ki, içinden neyin çıkabileceğini hayal etmek bile zordu. Elara, bu gizemli *Egg*''e dokunmak için uzandığında, tapınağın gölgelerinden devasa bir silüet belirdi.

Bu, ormanın bilge koruyucusu, efsanevi **Gorilla** idi. *Gorilla*, Elara''ya derin, ancak nazik gözlerle baktı ve gür sesiyle konuştu: "Ey genç ruh, sır perdeleri yalnızca sabır ve anlayışla aralanır. Bu *Egg*, tüm bilgeliklerin başlangıcıdır, ama onu uyandırmak için kalbinin en küçük fısıltılarına bile dikkat etmelisin." *Gorilla*, devasa parmağıyla yere işaret etti.

Elara, *Gorilla*''nın gösterdiği yere baktığında, orada küçücük, ama kararlı adımlarla ilerleyen bir **Ant** gördü. *Ant*, hiç durmadan, adeta bir yol gösterircesine patikadan ayrılıp, sık bitki örtüsünün arasına daldı. Elara, *Ant*''ın peşinden gitti. Küçücük *Ant*, onu eski bir ağacın köklerinin arasına, toprağın küçük bir oyuğundan süzülen berrak bir suya götürdü.

Bu, sıradan bir su değildi; mistik bir koku yayan, adeta ışıkla dans eden, köpüklü bir **Tea** kaynağıydı. *Ant*, kaynağın kenarında durup Elara''ya baktı, sanki "İşte sır burada," der gibiydi. Elara, titreyen elleriyle bu *Tea*''den bir yudum aldı. Anında, zihni berraklaştı, ruhu hafifledi ve tüm Unutulmuş Orman''ın fısıltıları, kadim bilgelik şimdi zihninde yankılanıyordu.

Elara, hızla tapınağa geri döndü. *Gorilla*, onu bilgece bir gülümsemeyle karşıladı. *Tea*''nin verdiği berraklıkla, *Egg*''e baktığında, onun sadece bir taş olmadığını, aynı zamanda tüm evrenin sembollerini barındırdığını anladı. *Tea*''nin gücüyle, *Egg*''in yüzeyindeki yıldız desenleri canlandı ve içinden narin, sıcak bir ışık süzülmeye başladı. Bu ışık, bir sırrı değil, tüm sırları içinde barındıran bir umudu fısıldıyordu.

Elara, o gün Unutulmuş Orman''dan ayrılırken, sadece beş İngilizce kelime (Apple, Egg, Gorilla, Ant, Tea) öğrenmekle kalmadı, aynı zamanda hayatın ve doğanın derin bilgeliklerini de içinde taşıyordu. O günden sonra, Elara''nın gözleri artık her şeyde gizli bir anlam görüyor, kulakları ise Unutulmuş Orman''ın hiç bitmeyen fısıltılarını duyuyordu. Ve biliyordu ki, en büyük sırlar bile, doğru kelimelerin ve açık bir kalbin rehberliğinde çözülebilirdi.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20tea%2Capple%2Cegg%2Cgorilla%2Cant?width=512&height=512&nologo=true', CAST(N'2026-05-18T01:06:48.470' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (7, 1, N'tea, apple, egg, gorilla, ant', N'Harika bir meydan okuma! İşte kelimelerin bir zincir gibi birbirine bağlandığı masalsı hikayeniz:

---

**Elara ve Ninni Kristali''nin İzinde**

Uzak diyarlarda, sisler içindeki bir krallıkta, genç Elara adında cesur bir kız yaşarmış. Krallık, yüzyıllardır söylenen, huzur veren "Ninni Kristali"nin kaybolmasıyla derin bir uykusuzluğa ve yorgunluğa gömülmüştü. Elara, bu karanlık uykusuzluğa bir son vermek için kristalin peşine düşmeye yemin etti.

Kristalin izini süren Elara, ilk ipucunu **Tea** Şelalesi''nin dingin sularında buldu. Şelalenin berrak suyu, kaybolmuş melodilerin fısıltılarını taşıyor gibiydi. Suyun üzerinde beliren ışıklı bir yansıma, onu bir sonraki hedefe yönlendirdi: "Kızıltepe Ormanı''nın kalbinde, bin yıllık, sihirli bir **apple** ağacının en tepesinde, ışıl ışıl parlayan bir meyve varmış."

Kızıltepe Ormanı''na vardığında, gerçekten de göğe uzanan, yaprakları yakut kırmızısı bir **apple** ağacıyla karşılaştı. Ağacın zirvesindeki altın rengi **apple**, krallığın kaybettiği neşeyi yansıtır gibi parlıyordu. Zorlu bir tırmanışın ardından, Elara sihriyle parlayan **apple**''ı koparmayı başardı. İlk ısırıkla birlikte, meyve fısıldarcasına ona kayıp Ninni Kristali''nin bir **egg** içinde saklandığını ve bu **egg**''in Kadim Dağlar''daki Mağara''nın derinliklerinde uyuduğunu gösterdi.

Elara''nın kalbi heyecanla çarptı. Kadim Dağlar''a doğru yola çıktı ve sonunda büyük, yosun tutmuş bir mağaranın ağzına ulaştı. Mağaranın girişinde, gözleri bilgelikle parlayan, heybetli bir **Gorilla** bekliyordu. Bu, Mağara''nın ve içindeki kutsal **egg**''in kadim koruyucusuydu. **Gorilla**, Elara''nın niyetini ve kalbinin saflığını anlamak istercesine onu uzun uzun süzdü. Elara, tüm içtenliğiyle krallığının acısını ve Ninni Kristali''nin önemini anlattı. **Gorilla**, başını usulca sallayarak geçişine izin verdi. Belki de yıllardır beklediği kahraman Elara''ydı.

Mağaranın en derinlerinde, Elara, etrafı loş bir parıltıyla çevrili devasa, kararmış bir **egg** buldu. Yüzeyi çatlaklarla doluydu, sanki içerideki melodi onu kırmak için sabırsızlanıyordu. Ancak **egg**''i nasıl uyandıracağını bilemiyordu. Tam bu sırada, kimsenin fark etmediği minicik, yaşlı bir **ant** belirdi, Elara''nın ayağının dibine tırmandı. Minik **ant**, fısıldarcasına, "Kristalin kalbi, sadece en masum sesle uyanır. Ninniyi kendi kalbinden, en baştan fısılda," dedi.

Elara, küçücük **ant**''ın bilgeliğine şaşırdı. Derin bir nefes aldı ve kalbinden yükselen, unuttuğu o eski melodiyle mırıldandı. Sesinin her teli, mağaranın yankılanan duvarlarında dans etti. Ve o an, **egg** nazikçe çatladı ve içinden göz kamaştırıcı Ninni Kristali yükseldi. Kristal, tüm krallığın kalbine yeniden huzur ve tatlı rüyalar getirecek ışıkla parlıyordu.

Elara, minik **ant**''a teşekkür edip, **Gorilla**''ya veda ederek Kristal''le birlikte krallığına döndü. Ninni Kristali eski yerine konulduğunda, krallık derin bir nefes aldı ve herkes yeniden huzurlu uykulara daldı. Ve Elara, sadece bir kahraman olarak değil, aynı zamanda en küçük canlıdan bile bilgelik almayı bilen biri olarak hatırlanacaktı.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20tea%20apple%20egg%20gorilla%20ant?width=512&height=512&nologo=true', CAST(N'2026-05-18T01:08:01.173' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (8, 1, N'tea, apple, egg, gori̇lla, ant', N'Harika bir meydan okuma! İşte size, bu beş İngilizce kelimeyi kullanarak kaleme aldığım masalsı hikaye:

**Elara ve Fısıldayan Vadi''nin Sırrı**

Çok çok eski zamanlarda, bulutların arasından süzülen, pırıl pırıl derelerin aktığı, kuşların şarkı söylediği ve çiçeklerin rengarenk açtığı Fısıldayan Vadi adında büyülü bir yer varmış. Ancak zamanla bu sihir solmaya, renkler donuklaşmaya, şarkılar susmaya başlamış. Vadinin genç kızı Elara, bu değişimi herkesten çok hisseder, kalbinde büyük bir keder taşırmış.

Bir gün, vadinin en yaşlı ve en bilge kadını olan Nene, Elara''yı yanına çağırmış. "Vakti geldi Elara," demiş titrek bir sesle, "Vadinin kalbi yeniden canlanmalı. Yolun başlangıcı, unutulmuş *Tea* pınarıdır."

Elara, Nene''nin işaret ettiği, yosunlarla kaplı eski patikayı takip ederek, orman derinliklerine doğru ilerlemiş. Uzun bir yürüyüşün ardından, berrak, dumanı tüten bir su kaynağına ulaşmış. Bu, Nene''nin bahsettiği *Tea* pınarıymış. Pınarın suyu, ışıkta kehribar rengi parlıyor, hafif bir buhar yükseliyormuş. Elara pınardan bir avuç su içtiğinde, zihnine ılık bir dalga yayılmış ve gözlerinin önüne bir görüntü belirmiş: Vadinin en yüksek tepesindeki kadim meşe ağacının dallarından sarkan, ay ışığı gibi parlayan bir *Apple*.

Heyecanla yola koyulan Elara, tepelere tırmanmaya başlamış. Yorgun argın meşe ağacına ulaştığında, gördüğü manzara karşısında nefesi kesilmiş. Ağacın tam ortasında, elmas tozu serpilmiş gibi parlayan, avuç içi kadar büyük bir *Apple* asılı duruyormuş. Elara, elmayı dikkatle koparıp avcuna aldığında, elmanın yüzeyinde beliren minik, ışıklı semboller onu daha da derinlere, bir mağaraya yöneltmiş.

Mağaranın derinliklerinde, nemli ve karanlık bir geçitten sonra, loş bir ışığın parladığı geniş bir odaya varmış. Odanın ortasında, kadife bir yastığın üzerinde, yumuşak bir ışıkla aydınlanan devasa, bembeyaz bir *Egg* duruyormuş. Ancak *Egg*''in önünde, odanın girişini tamamen kapatan, simsiyah tüylü, ürkütücü görünümlü, koca bir *Gorilla* oturuyormuş. *Gorilla*, gözlerini Elara''ya dikmiş, sessiz ve hareketsiz bekliyormuş. Odaya girmeye çalışan herkesi, hatta vadinin en cesur savaşçılarını bile korkutup kaçırdığı söylenirmiş.

Elara''nın kalbi hızla çarparken, bir an duraksamış. Ne yapacağını düşünürken, ayağının dibinden minik, parlak kırmızı bir ışık yükselmiş. Bu, neredeyse görünmez küçüklükte, ama bilge gözlere sahip bir *Ant*''mış. *Ant*, Elara''nın bacağına tırmanmış ve fısıltıyla: "Korkma, *Gorilla* kötü değil. Sadece koruyor. Onu anlaman gerek," demiş.

Elara, *Ant*''ın sözlerini dinleyerek, *Gorilla*''ya doğru yavaşça ilerlemiş. Dev cüsseli hayvanın gözlerine bakmış ve fısıldamış: "Biliyorum ne koruduğunu. Bu *Egg*, Vadinin kalbi. Onu uyandırmak için geldim." *Gorilla*''nın sert yüz ifadesi yumuşamış, hüzünlü gözlerinde bir parıltı belirmiş. Başını ağır ağır sallayarak kenara çekilmiş.

Elara, *Egg*''e yaklaşmış ve ellerini nazikçe üzerine koymuş. Kalbindeki tüm sevgi, umut ve vadinin eski ihtişamına duyduğu özlemi *Egg*''e aktarmış. Tam o anda, *Egg* çatlamış. İçinden fışkıran altın rengi bir ışık, tüm mağarayı ve ardından tüm Fısıldayan Vadi''yi sarmış. Sihir geri dönmüş! Çiçekler eskisinden daha canlı renklerle açmış, dereler şelaleler oluşturmuş, kuşlar yeniden neşeli şarkılar söylemeye başlamış.

*Gorilla* derin bir nefes almış, gözlerinde neşe belirmiş. Minik *Ant* da Elara''nın omzunda gururla duruyormuş. Elara, Fısıldayan Vadi''ye yeniden hayat veren, kahraman bir genç kız olarak sonsuza dek anılmış. Ve tüm bunlar, bir *Tea* pınarı, parlayan bir *Apple*, kadim bir *Egg*, bilge bir *Gorilla* ve minik bir *Ant* sayesinde gerçekleşmiş.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20tea%20apple%20egg%20gori%CC%87lla%20ant?width=512&height=512&nologo=true', CAST(N'2026-05-18T01:08:54.240' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (9, 1, N'tea, apple, egg, gorilla, ant', N'Harika bir fikir! İşte o beş İngilizce kelimeyi kullanarak kaleme aldığım masalsı hikaye:

**Gölge Vadi''nin Işık Çayı**

Bir zamanlar, göz alabildiğince yeşil tepelerin ve çağlayan nehirlerin olduğu, lakin artık loş bir gölgeyle örtülmüş kadim bir diyar varmış. Bu diyarın adı Gölge Vadi’ymiş. Vadinin en genç ve en cesur ruhu, Elara adında bir kız çocuğu, kaybolan ışığı geri getirmek için yola çıkmış. Büyükannelerinden öğrendiği bir efsaneye göre, bu gölgeyi dağıtabilecek tek şey, ‘Işık Çayı’ olarak bilinen büyülü bir **tea** imiş. Ancak bu **tea**’yi demlemek için dört özel malzemeye ihtiyaç varmış ve her biri, bir öncekinin son harfiyle başlayan bir ipucu taşırmış.

Elara’nın ilk görevi, ‘Parlak Elma Ağacı’ndan düşen ilk parlak **apple**''ı bulmaktı. Günlerce süren bir yolculuğun ardından, Elara nihayet efsanevi ağacı buldu. Ağaçtan düşen ve etrafına tatlı bir koku yayan, adeta parıldayan bir **apple**''ı nazikçe yerden aldı. Tam o sırada, **apple**''ın düştüğü yerden, toprağın hafifçe çatladığını fark etti. Çatlağın derinliklerinden yayılan sıcak bir ışıkla birlikte, o **apple**''ın tam altında, devasa, ışık saçan bir **egg** duruyordu!

Bu esrarengiz **egg**, Gölge Vadi''de hiç görülmemiş bir renge sahipti; sanki içeriden binlerce yıldız parlıyormuş gibiydi. Elara, yumurtaya dokunduğunda, içinden yankılanan derin ve tok bir sesle irkildi. Ses, "Bu **egg**''in sırrı, onu koruyan devin kalbindedir," diyordu. Elara, yumurtayı dikkatlice yanına alıp yola devam etti. Sırrın peşinden giderken, kendini sisli ve kristalize bir mağaranın önünde buldu. Mağaranın girişinde, görkemli bir duruşa sahip, gri tüyleriyle dikkat çeken, devasa bir **gorilla** nöbet tutuyordu. Bu **gorilla**, efsanelerde anlatılan, kadim bilgilerin koruyucusu Gorgon''dan başkası değildi.

Gorgon, Elara’yı dikkatle süzdü. “Cesur küçük Elara,” diye kükredi, “Bu **egg**’in sana ait olduğunu ispatla. Işığı gerçekten hak ediyor musun?” Elara, kalbindeki umudu ve vadisi için duyduğu sevgiyi anlattı. Gorgon, kızın saf niyetini görünce yumuşadı ve başıyla mağaranın derinliklerini işaret etti. “Kaybolan ışığın son parçası, ‘Ant Tepesi’nin derinliklerinde gizlidir,” diye fısıldadı. “Onlar, vadinin en küçük, ama en bilgili rehberleridir.”

Elara, Gorgon''un gösterdiği yoldan ilerlerken, nihayet, toprağın altında oyulmuş, sayısız tünelden oluşan bir şehre ulaştı. Burası, Gölge Vadi''nin en çalışkan sakinleri olan **ant**''ların eviydi. Binlerce küçük **ant**, Elara''nın etrafını sardı. Aralarından çıkan, bilgelikle parlayan gözlere sahip yaşlı bir **ant**, Elara''ya yaklaştı. "Biliyoruz ne için geldiğini, Işık Çayı''nın son malzemesi," dedi. Küçük **ant**lar, Elara''ya yol göstererek onu parıldayan bir pınarın başına götürdüler. Pınarın suyu, tıpkı yıldızlar gibi parlıyordu ve bu, **tea** için gereken son sihirdi.

Elara, Parlak Elma Ağacı''ndan aldığı **apple**''ı, Gorgon''un koruduğu **egg**''in ışık saçan kabuğunu ve **ant**''ların rehberlik ettiği pınardan aldığı suyu bir araya getirdi. Büyükannesinin anlattığı kadim sözleri fısıldayarak, malzemeleri yavaşça karıştırdı. Ve işte o an! Hazırladığı karışım, adeta hayat bulan bir ışıkla parladı. Bu, Gölge Vadi’nin karanlığını dağıtacak olan, umut veren büyülü **tea** idi. Elara, bu **tea**’yi vadinin kalbine döktüğünde, gölgeler çekildi, çiçekler yeniden açtı ve Gölge Vadi, bir kez daha kadim parlaklığına kavuştu. Ve böylece, Elara''nın cesareti ve beş İngilizce kelimenin büyüsü sayesinde, diyarın ışığı sonsuza dek geri gelmiş oldu.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20tea%20apple%20egg%20gorilla%20ant?width=512&height=512&nologo=true', CAST(N'2026-05-18T01:11:10.047' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (10, 1, N'anchor, rice, egg, glove, elephant', N'Harika bir meydan okuma! İşte kelimeleri anlamlı ve sürükleyici bir masalın içine yerleştirdiğim hikayem:

**Yüzen Adalar Diyarı''nın Kalbi**

Kadim zamanlarda, gökyüzünde asılı kalmış, zümrüt yeşili sularla çevrili, bin bir çiçeğin kokusuyla bezeli Yüzen Adalar Diyarı vardı. Bu adaların ruhu, denizin derinliklerinde uyuyan, efsanevi bir nesne tarafından korunurdu: Kadim **Anchor**. Anchor''ın varlığı, adaları bir arada tutar, topraklarına bereket saçar ve diyarı her türlü kötülükten korurdu. Ancak zamanla, Anchor''ın gücü zayıflamaya başlamış, adalar yavaşça birbirlerinden uzaklaşırken, topraklar da solmaya yüz tutmuştu.

Diyarın en genç ve cesur prensesi Elara, halkının umutsuzluğunu görüyor, kalbi sızlıyordu. Atalarından kalan kadim metinlerde, Anchor''ı yeniden canlandırmanın sırrının "Yaşam Tohumu"nda gizli olduğu yazılıydı. Bu tohum, sadece belirli bir ay ışığında ortaya çıkan, parıltılı, nadir bir **Rice** türüydü. Elara, Yaşam Tohumu''nu bulmak için yola çıkmaya karar verdi.

Uzun bir yolculuğun ardından, Elara kendini sisler içindeki Unutulmuş Orman''ın kalbinde buldu. Burada, fısıltılarla dolu yaşlı bir ağacın köklerinde, etrafına mistik bir ışık yayan, kocaman, obsidyen siyahı bir **Egg** ile karşılaştı. Efsaneler bu Egg''in, Rice''ın ilk ve en güçlü tohumunu barındırdığını söylüyordu. Ancak Egg, dokunulduğunda yayılan keskin, dondurucu bir aura ile korunuyordu. Elara, Egg''e yaklaşmakta zorlandı.

Tam bu sırada, ağacın oyuğundan yaşlı bir cüce beliriverdi. Cüce, Elara''ya, "Bu Egg''i tutmak için kalbinin saf gücünden fazlasına ihtiyacın var, genç prenses," dedi ve ona parlak, gümüş işlemeli, ipeksi bir **Glove** uzattı. "Bu, Atalarımın Koruyucu Glove''u. Yalnızca iyi niyetle dokunanlara güç verir, kalbinin sıcaklığını Egg''e aktarır ve onu uyandırır."

Elara, tereddüt etmeden Glove''u taktı. Sanki Glove, onun eli için yaratılmış gibi mükemmeldi. Sıcak bir enerji dalgası parmaklarından Egg''e doğru aktı. Egg, bir an titredi, sonra yavaşça çatlamaya başladı. İçinden binlerce minik, altın rengi Rice tanesi etrafa yayıldı, her biri yıldız tozu gibi parlıyordu. Elara, sevinçle doldu. Ancak biliyordu ki bu Rice''ı doğru yere ekmeliydi.

Cüce gülümsedi. "Şimdi son görevin. Bu Yaşam Tohumları''nı, bilgeliğin ve gücün sembolü olan Ulu **Elephant**''ın gözetiminde, Kadim Anchor''ın kalbine ekmelisin."

Elara, altın Rice tanelerini dikkatlice toplayıp yola çıktı. Ulu Elephant''ı bulmak için en yüksek dağlara, en derin vadilere tırmandı. Nihayet, bulutların ötesinde, mermerden bir tapınağın önünde, devasa ve görkemli bir Elephant ile karşılaştı. Elephant, yorgun ama bilge gözlerle Elara''ya baktı, sanki onun tüm yolculuğunu biliyormuş gibi.

Elephant, hortumuyla tapınağın merkezini işaret etti. Orada, Anchor''ın taştan bir replikası vardı. Elara, Glove''uyla altın Rice tanelerini dikkatlice bu replikanın dibine ekti. O an, diyarı baştan aşağı saran parlak bir ışık yükseldi. Anchor''ın denizin derinliklerindeki gerçek formu titreşti, zincirleri parladı ve adalar yavaşça yeniden bir araya gelmeye başladı. Topraklar yeşerdi, sular berraklaştı ve Yüzen Adalar Diyarı, eskisinden daha görkemli bir şekilde yeniden canlandı.

Elara, halkının kahramanı olmuştu. Ve her ne zaman adaların üzerinde hafif bir meltem esse, o rüzgâr Anchor''ın gücünü, Rice''ın yaşamını, Egg''in sırrını, Glove''un koruyuculuğunu ve Bilge Elephant''ın ebedi bilgeliğini fısıldardı.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20anchor%20rice%20egg%20glove%20elephant?width=512&height=512&nologo=true', CAST(N'2026-05-18T12:42:58.163' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (11, 1, N'basket, table, egg, gold, duck', N'Harika bir meydan okuma! İşte o beş İngilizce kelimeyi, yani basket, table, egg, gold, duck kelimelerini kullanarak kaleme aldığım masalsı hikaye:

**Elara ve Pınarın Kalbi**

Uzak diyarların derinliklerinde, sarp dağların eteklerinde gizlenmiş, "Yemyeşil Vadi" adında küçük bir köy vardı. Bu vadinin en narin, en iyi kalpli kızı Elara, her sabah ormana gider, büyükannesinden yadigar kalmış, el işlemeli, yıpranmış ama hala çok sevgili **basket**''iyle şifalı otlar toplardı. Elara''nın basket''i, sanki her otu kendi sihrine katarmışçasına, her zaman en nadide bitkilerle dolardı.

Bir gün köyün hayat kaynağı olan ''Gümüş Pınar'' kurumaya yüz tuttuğunda, tüm köyü derin bir hüzün kapladı. Köyün ileri gelenleri, Ulu Ozan’ın evindeki meşe ağacından oyma, devasa ve köylünün en önemli kararlarını aldığı **table**''ın etrafında toplandı. Yüzleri endişe doluydu. Ulu Ozan, gözlerini kapayarak derin bir nefes aldı ve fısıldayarak eski bir efsaneyi anlattı: "Pınarın ruhu, sadece ''Pırıltılı Kalbin Kuluçkası'' denen özel bir Altın **Egg** ile yeniden canlanabilir. Bu egg, unutulmuş bir tapınakta saklıdır ve saf **gold** kadar değerlidir, ancak ona ulaşmak için iyi kalpli bir ruhun rehberliği gerekir."

Kimsede cesaret kalmamışken, Elara öne atıldı. "Ben giderim!" dedi. "Ben pınarın kalbini bulup getireceğim!" Ulu Ozan, Elara''nın cesaretine hayran kaldı. Ona eski bir harita verdi ve ormanın derinliklerindeki "Unutulmuş Patikalar Ormanı"na doğru gitmesini öğütledi.

Elara, ertesi sabah basket''ini yanına alıp yola koyuldu. Ormanın sık ağaçlarının arasından ilerlerken, yolunu kaybettiğini hissettiği bir anda, karşısına gümüş tüylü, bilge bakışlı bir **duck** çıktı. Bu duck, efsanelerde adı geçen ''Pınarın Koruyucusu'' idi ve sadece en saf kalplere görünürdü. Duck, "Vak vak!" diye bir ses çıkararak Elara''ya doğru yüzünü döndü ve yavaşça ilerlemeye başladı, sanki onu bir yere çağırıyormuşçasına. Elara, duck''ı takip etti. Uzun ve zorlu bir yolculuktan sonra, yıpranmış tapınağın kalıntılarına ulaştılar.

Tapınağın en derininde, ışık saçan bir kaidenin üzerinde, pırıl pırıl parlayan bir Altın **Egg** duruyordu. Egg, sanki içinden bir yaşam fışkıracakmış gibi nabız gibi atıyordu. Elara, duck''ın yardımıyla Altın Egg''i dikkatlice kaidesinden aldı ve büyükannesinin basket''ine nazikçe yerleştirdi. Basket, o an sanki egg''in sıcaklığını ve enerjisini emmişçesine hafif bir parıltı yaydı.

Elara ve duck, aynı yoldan geri dönerek Gümüş Pınar''a ulaştılar. Köy halkı umutsuzluk içinde onları bekliyordu. Elara, Altın Egg''i basket''inden çıkardı ve kurumuş pınarın ortasındaki küçük çukura bıraktı. Egg, suyla buluşur buluşmaz daha da şiddetli parlamaya başladı. Ardından, içinden altın rengi bir ışık fışkırdı ve birdenbire, toprağın derinliklerinden su fokurdamaya başladı! Gümüş Pınar, eskisinden daha coşkulu, daha berrak akıyordu. Suyun içindeki Altın Egg ise, pınarın kalbine dönüşerek orada eriyip kayboldu, geride sadece pırıl pırıl parlayan, sonsuz bir **gold** ışıltısı bıraktı.

Köy halkı sevinç çığlıkları attı. Duck, sessizce Elara''nın yanına geldi, gümüş tüylerini hafifçe okşadı ve ardından ormanın derinliklerine doğru süzülerek gözden kayboldu. Elara, artık sadece ot toplayan bir kız değil, aynı zamanda köyünün kahramanı ve kadim bilgeliklerin mirasçısıydı. Ve o günden sonra, Elara''nın basket''i, her zaman içinde bir umut ışığı taşıdı; köyün table''ı ise sevinç ve minnetle dolup taştı.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20basket%20table%20egg%20gold%20duck?width=512&height=512&nologo=true', CAST(N'2026-05-18T12:52:19.593' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (12, 1, N'table, egg, glass, shoes, shirrt', N'Elbette, işte bu kelimeleri kullanarak oluşturduğum masalsı Türkçe hikaye:

Derin, yemyeşil ormanın tam kalbinde, unutulmuş bir köyde, zamanın nasıl geçtiğini kimsenin bilmediği bir zaman vardı. Bu köyde yaşayan insanlar, doğayla o kadar iç içeydi ki, onlardan birer parça olmuşlardı sanki. Köyün en yaşlıları, nesilden nesile aktarılan masallarda sık sık **table** olarak adlandırılan, üzerinde sihirli desenler olan büyük, yuvarlak bir taş anıtından bahsederlerdi. Bu **table**, köyün merkezinde yükselir, güneşi yakalar ve geceleri yıldızların ışığını yansıtırdı.

Bir gün, bu sakin köyde yaşayan küçük bir kız olan Elif, ormanda dolaşırken garip bir şey buldu. Parlak, beyaz, neredeyse şeffaf bir **egg**. Bu sıradan bir yumurta değildi; içinde incecik, ışık saçan bir şeyler vardı ve dokunduğunda hafif bir titreme hissediliyordu. Elif, bu **egg**''i dikkatlice alıp evine götürdü.

Günler geçti, **egg** kırılmadı ama içindeki ışık daha da belirginleşti. Elif, yumurtayı köyün en büyük ve en parlak penceresinin yanına, güneşi bol alan bir yere koydu. Orada, pencereden süzülen ışıkla buluşan **egg**, etrafına yumuşak bir parıltı yaymaya başladı.

Bir sabah uyandığında, Elif''in odası normalden daha aydınlıktı. Çünkü **egg**, kırılmış ve içinden inanılmaz bir güzellikte, camdan yapılmış gibi duran bir **glass** çıkmıştı. Bu **glass**, öyle sıradan bir sürahi değildi; içinde renkli gökkuşağı damlacıkları yüzüyor ve hafif bir melodi çalıyordu. Bu **glass**''ın sihirli olduğunu anladı ve onu hemen alıp köyün en güzel çiçeğinin yanına yerleştirdi.

Köy halkı bu olayı duyduğunda şaşkına döndü. Ancak en büyük sürpriz, **glass**''ın etrafında toplanan ve ondan çıkan ışıkla beslenen küçücük, rengarenk kuşlar oldu. Bu kuşların ayaklarında, sanki özel olarak onlara yapılmış gibi, pırıl pırıl parlayan minik **shoes** vardı. Bu **shoes**, kuşların daha hızlı ve daha zarif uçmalarını sağlıyordu. Köy halkı bu manzaraya hayran kaldı.

Sonra, bir peri masalındaki gibi, bu minik kuşlardan biri, elinde parlak, ipekten yapılmış bir şeyle Elif''in yanına kondu. Bu, üzerinde yıldız desenleri olan, rengarenk bir **shirrt** idi. Bu **shirrt**''ü, Elif''in daha önce hiç görmediği kadar güzel bir kumaştan yapılmıştı. Elif, bu **shirrt**''ü giydiğinde, kendini daha cesur ve daha neşeli hissetti.

Ve böylece, köy halkı **table**''ın etrafında toplanıp, Elif''in bulduğu sihirli **egg**''den çıkan **glass**, bu **glass**''ın beslediği **shoes**''lu kuşlar ve bu kuşların getirdiği **shirrt**''ü anlatan yeni masallar anlatmaya başladılar. Herkes biliyordu ki, bu köyde sihir, en beklenmedik yerlerden çıkabilirdi.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20featuring%3A%20table%20egg%20glass%20shoes%20shirrt?width=512&height=512&nologo=true', CAST(N'2026-05-18T13:03:02.120' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (13, 1, N'frog, glass, shirt, table, egg', N'Bir varmış bir yokmuş, uzak diyarlarda, sihrin solmaya başladığı Köknar Ormanı’nın derinliklerinde Yaprakaltı adında küçük bir köy yaşarmış. Ağaçlar eski canlılığını yitirmiş, pınarların şırıltısı kısılmıştı. Köyün genç ve cesur ruhlu kızı Elara, bu değişimi yüreğinde hisseder, köyün eski neşesini geri getirmek için bir yol arardı. Köyün yaşlıları, asırlık bir kehanetten bahsederdi: "Umut Yumurtası" bulunup, Kadim Masa''ya yerleştirilirse sihir geri dönecekmiş.

Elara, kehanetin sırlarını çözmek için efsanevi Orman Bilgesi Frosch''u bulmaya karar verdi. Frosch, ormanın en yaşlı meşe ağacının dibinde, yosunlu bir havuzda yaşayan, bilge gözleri ve konuşma yeteneği olan iri bir **FROG**''du (kurbağa). Elara, uzun bir yolculuğun ardından Frosch''a ulaştığında, Frosch hırıltılı sesiyle ona şöyle dedi: "Umut Yumurtası''nın yolu, geçmişin yankılarında saklıdır, genç kız. Git ve köyün kütüphanesindeki Yansıma **GLASS**''ına (camına) bak."

Elara, hızla köye geri döndü ve tozlu kütüphanenin en arka odasında, gümüş çerçeveli büyük bir cam buldu. Yansıma Glass''ına dokunduğunda, yüzeyinde geçmişten bir görüntü belirdi: Kadim Ormanı kurtarmış efsanevi muhafız Kaptan Daren. Kaptan Daren, sıradan bir giysi değil, üzerinde karmaşık semboller işlenmiş özel bir **SHIRT** (gömlek) giyiyordu. Frosch, bu gömleğin, yumurtanın yerini gösteren bir haritayı sakladığını söylemişti. Elara, Kaptan Daren''in soyundan gelen ve hala köyde yaşayan yaşlı Nona''dan o efsanevi Shirt''i buldu. Gömleğin yakasındaki gizli dikişler, ormanda kimsenin bilmediği gizli bir patikayı işaret ediyordu.

Cesur Elara, Shirt''in gösterdiği patikayı takip ederek ormanın kalbine doğru ilerledi. Patika onu, etrafı parlayan otlarla çevrili, loş ve kadim bir mağaraya götürdü. Mağaranın ortasında, hafifçe titreyen, bembeyaz ve pürüzsüz, avuç içi kadar büyük, kutsal bir **EGG** (yumurta) duruyordu. Yumurta, etrafına zarif bir ışık yayıyordu. İşte Umut Yumurtası buydu!

Elara, Yumurta''yı dikkatlice kucakladı. Shirt''teki son sembol, Yumurta''yı ormanın en yüksek tepesindeki "Kadim **TABLE**"a (masaya) götürmesi gerektiğini gösteriyordu. Bu Table, üzerine yıldızlar ve antik yazılar oyulmuş, yosun tutmuş, devasa bir taştandı ve tam ortasında Yumurta için ayrılmış küçük bir yuva vardı.

Şafak sökerken, Elara Umut Yumurtası''nı Kadim Table''ın üzerindeki yuvaya nazikçe yerleştirdi. Güneşin ilk ışıkları Table''a vurduğunda, Egg yoğun bir parlaklıkla titremeye başladı. Ardından, sihirli bir çatlama sesiyle Yumurta açıldı ve içinden saf, altın bir ışık yayıldı. Bu ışık, dalgalar halinde tüm ormana yayıldı, solmuş ağaçlar anında yeşerdi, kurumuş pınarlar coşkuyla akmaya başladı. Köknar Ormanı, eski ihtişamına geri dönmüştü. Yaprakaltı köyü tekrar neşe ve sihirle doldu. Elara, bu mucizevi yolculuğun kahramanı olarak sonsuza dek anıldı.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20of%20a%20young%2C%20kind-hearted%20girl%20named%20Elara%2C%20gently%20placing%20a%20glowing%2C%20mystical%20**egg**%20onto%20an%20ancient%20stone%20**table**%20covered%20in%20moss%20and%20carved%20with%20stars%2C%20in%20an%20enchanted%20glade%20at%20dawn.%20A%20wise%2C%20large%2C%20talking%20**frog**%20with%20glowing%20eyes%20observes%20from%20a%20nearby%20rock.%20In%20the%20background%2C%20hints%20of%20a%20shimmering%20crystal%20**glass**%20structure%20and%20the%20entrance%20to%20a%20mysterious%20cave%20are%20visible.%20Elara%20is%20wearing%20a%20special%2C%20intricately%20embroidered%20**shirt**%20that%20served%20as%20a%20map%2C%20glowing%20with%20subtle%20magical%20patterns.%20The%20scene%20is%20bathed%20in%20soft%2C%20ethereal%20light%2C%20with%20rejuvenated%20flora%20and%20a%20sense%20of%20profound%20wonder.?width=1024&height=576&nologo=true&seed=556740', CAST(N'2026-05-18T15:45:27.310' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (14, 1, N'frog, glass, shirt, table, egg', N'Bir zamanlar, ormanın derinliklerinde, yaprakların fısıltılarıyla dolu bir diyarda minik bir köy varmış. Bu köyde Elara adında meraklı bir kız yaşarmış. Bir gün Elara, nehir kenarında gezinirken, kabuğu inci gibi parlayan esrarengiz bir **egg** bulmuş. Onu avucunda tuttuğu an, çalılıklardan yeşil derili, bilge bakışlı bir **frog** sesi yükselmiş: "O **egg**, sadece özel bir kalpte uyanır. Onu eski ahşap **table**''ın altındaki **glass** kristalle birleştir ve ipek **shirt**''ünü giymeyi unutma."

Elara şaşkınlıkla **frog**''a bakmış. Köyüne dönen Elara, büyükannesinin eski kulübesindeki tozlardan görünmeyen **table**''ı bulmuş. Eğilip altına baktığında, ay ışığını yansıtan küçücük bir **glass** parçası görmüş. Onu alıp **egg**''in yanına koymuş ve büyükannesinin ona hediye ettiği, üzerinde yıldız desenleri olan yumuşak **shirt**''ünü giymiş.

Tam o sırada, **egg** nazikçe titremeye başlamış, **glass** kristal ışık saçmış ve **shirt**''ün desenleri canlanmış. Elara, o an, sıradan bir hayatın çok ötesinde bir maceranın kapısının aralandığını hissetmiş.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20depicting%20a%20young%20girl%2C%20Elara%2C%20wearing%20a%20soft%2C%20starry%20**shirt**%2C%20standing%20beside%20an%20old%20wooden%20**table**.%20On%20the%20**table**%2C%20a%20shimmering%20**glass**%20crystal%20emits%20light%20onto%20a%20glowing%2C%20pearl-like%20**egg**%2C%20which%20is%20beginning%20to%20hatch.%20A%20wise%20green%20**frog**%20observes%20the%20scene%20from%20the%20shadows%20of%20nearby%20foliage%2C%20illuminated%20by%20gentle%20moonlight%20in%20a%20mystical%20forest.%20Enchanting%20atmosphere%2C%20high%20detail.?width=1024&height=576&nologo=true&seed=167915', CAST(N'2026-05-18T15:49:29.097' AS DateTime))
INSERT [dbo].[WordChainStories] ([StoryID], [UserID], [WordsUsed], [StoryText], [ImageUrl], [CreatedAt]) VALUES (15, 6, N'cactus, scooter, rainbow, watermelon, necklace', N'Bir varmış bir yokmuş, uzak diyarların tozlu çölünde, kalbi rengarenk düşlerle dolu küçük bir kız yaşarmış. Adı Elara imiş. Elara, her gün batan güneşin turuncu tonlarına bakıp gökyüzünde bir `rainbow` belirmesini hayal edermiş. Bir gün, çölün derinliklerinde yürürken, parıldayan yeşil bir `cactus` görmüş. Bu `cactus`, dikenleri arasında minik bir harita saklıyormuş. Harita, onu gizemli bir vadiye götürecekmiş.

Elara haritayı takip ederek bir mağaraya ulaşmış. Mağarada, eski ama pırıl pırıl bir `scooter` duruyormuş. Scooter''a binip yola koyulmuş ve sonunda yemyeşil bir vadiye varmış. Burada, gökyüzünde ışıl ışıl bir `rainbow` belirmiş, her yeri canlandırmış. Vadinin ortasında duran devasa, parlayan bir `watermelon` dikkatini çekmiş. Watermelon''ın içinden çıkan bir bilge peri, Elara''ya sihirli bir `necklace` hediye etmiş. Bu necklace, Elara''nın dileklerini gerçekleştirecekmiş. Artık Elara''nın hayatı renklerle doluymuş.', N'https://image.pollinations.ai/prompt/A%20magical%20fantasy%20digital%20art%20illustration%20of%20a%20young%20girl%20named%20Elara%20riding%20a%20shiny%20scooter%20through%20a%20vibrant%2C%20lush%20valley.%20In%20the%20background%2C%20a%20brilliant%20rainbow%20arcs%20across%20the%20sky.%20To%20one%20side%2C%20a%20giant%2C%20glowing%20watermelon%20rests.%20Nearby%2C%20a%20unique%2C%20shimmering%20cactus%20stands%2C%20and%20Elara%20wears%20a%20magical%20necklace%20around%20her%20neck.?width=1024&height=576&nologo=true&seed=543883', CAST(N'2026-05-19T18:32:23.113' AS DateTime))
SET IDENTITY_INSERT [dbo].[WordChainStories] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture]) VALUES (1, N'Apple', N'Elma', N'https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f34e.svg')
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture]) VALUES (2, N'Chair', N'Sandalye', N'https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1fa91.svg')
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture]) VALUES (3, N'Table', N'Masa', N'https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1fab5.svg')
GO
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET IDENTITY_INSERT [dbo].[WordSamples] ON 

INSERT [dbo].[WordSamples] ([WordSamplesID], [WordID], [Samples]) VALUES (2318, 1, N'The red apple is very sweet and juicy.')
INSERT [dbo].[WordSamples] ([WordSamplesID], [WordID], [Samples]) VALUES (2319, 2, N'Please sit on this comfortable office chair.')
INSERT [dbo].[WordSamples] ([WordSamplesID], [WordID], [Samples]) VALUES (2320, 3, N'The textbooks are on the wooden table.')
GO
SET IDENTITY_INSERT [dbo].[WordSamples] OFF
GO
ALTER TABLE [dbo].[UserProgress] ADD  CONSTRAINT [DF__UserProgr__Corre__5DCAEF64]  DEFAULT ((0)) FOR [CorrectCount]
GO
ALTER TABLE [dbo].[UserProgress] ADD  CONSTRAINT [DF__UserProgr__IsLea__5EBF139D]  DEFAULT ((0)) FOR [IsLearned]
GO
ALTER TABLE [dbo].[UserProgress] ADD  CONSTRAINT [DF__UserProgr__Wrong__02FC7413]  DEFAULT ((0)) FOR [WrongAnswerCount]
GO
ALTER TABLE [dbo].[WordChainStories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD  CONSTRAINT [FK__UserProgr__UserI__5FB337D6] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserProgress] CHECK CONSTRAINT [FK__UserProgr__UserI__5FB337D6]
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD  CONSTRAINT [FK__UserProgr__WordI__60A75C0F] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[UserProgress] CHECK CONSTRAINT [FK__UserProgr__WordI__60A75C0F]
GO
ALTER TABLE [dbo].[WordSamples]  WITH CHECK ADD FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
USE [master]
GO
